.admin-post-title{
    margin: 2rem 2rem 0;
}

.admin-post-list-container,
.admin-post-noresults{
    display: flex;
    justify-content: center;

    mat-table{
        margin: 2rem;
        flex-grow: 1;
    }
}