<div class="admin-post-title">
  <h2>{{ 'admin-post-list-title' | translate }}</h2>
</div>
<div class="admin-post-list-container" *ngIf="(posts && posts.length > 0) else nopost">
  <mat-table [dataSource]="posts" class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>{{'admin-post-list-table-name' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>{{'admin-post-list-table-description' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.description }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef>{{'admin-post-list-table-actions' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          class="example-icon edit-icon"
          color="primary"
          aria-label="Edit post"
          (click)="setEdit(element)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          class="example-icon delete-icon"
          color="warn"
          aria-label="Delete post"
          (click)="removePost(element)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>
<ng-template class="admin-post-noresults" #nopost>
  <h1>{{'admin-post-list-title' | translate }}</h1>
</ng-template>