<mat-table [dataSource]="posts" class="mat-elevation-z8">
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef> Descripcion </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.description }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="edit">
    <mat-header-cell *matHeaderCellDef> Editar </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        class="example-icon edit-icon"
        color="primary"
        aria-label="Example icon-button with system_update_alt icon"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
