.adminlist-card-container{
    margin: 2rem;

    .adminlist-form-container{
        display: flex;
        flex-direction: column;
    }

    .adminlist-button-position{
        margin: auto;
    }
}