<div class="admin-list-container">
  <div class="admin-post-title">
    <h1>{{ "admin-post-list-title" | translate }}</h1>
  </div>
  <button
    class="admin-button-position"
    (click)="isCreateMode = true; currentPost = null"
    mat-raised-button
    color="primary"
  >
    {{ "admin-post-create" | translate }}
  </button>
  <app-admin-list-cont
    (postToEdit)="changeCurrentPost($event)"
  ></app-admin-list-cont>
</div>
<div *ngIf="isCreateMode || currentPost">
  <app-admin-post-detail-cont
    (closeAction)="closeDetail()"
    [editMode]="currentPost && !isCreateMode"
    [postModelDetail]="currentPost"
  ></app-admin-post-detail-cont>
</div>
